<style type="text/css">

    body {
        color: #333;
        margin: 0;
        font-family: 'Lato', sans-serif;
    }

    table {
        font-family: 'Lato', sans-serif;
        font-size: 12px;
        border-collapse: collapse;
        margin: 0 0 11px 0;
        width: 100%;
    }

    table th {
        text-align: left;
        border-bottom: 2px solid #eee;
        vertical-align: bottom;
        padding: 0 10px 0 10px;
        text-align: left;
    }

    table td {
        border-bottom: 1px solid #eee;
        vertical-align: top;
        padding: 10px;
        text-align: left;
    }

    table th:nth-child(1),
    table td:nth-child(1) {
        text-align: left;
        padding-left: 0;
        font-weight: bold;
    }

</style>
