<div class="full-table">
  <table>
      <thead>
        <tr>
          <th>Name, Position</th>
          <th>Leahy</th>
          <th>Sanders</th>
          <th>Vote Date</th>
        </tr>
      </thead>
      {% for vote in votes %}
        <tr>
          <td data-title="Nominee">
            {% if vote.Nominee_Confirmed == "x" %}
              <span style="font-family: wingdings; font-size: 100%;">&#10004;</span>
            {% endif %}
            {{vote.Nomination}}, {{vote.Position}}
          </td>
          <td data-title="Leahy">{{vote.Senate_Vote_Leahy}}</td>
          <td data-title="Sanders">{{vote.Senate_Vote_Sanders}}</td>
          <td data-title="Vote Date">{{vote.Senate_Vote_Date}}</td>
        </tr>
      {% endfor %}
  </table>


</div>


<script type="text/javascript" src="https://pym.nprapps.org/pym.v1.min.js"></script>
<script>
    var pymChild = new pym.Child();
</script>
